# C/C++ ------------------------------------------------------------------------
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CODE::BLOCKS ------------------------------------------------------------------
*.cbp
*.depend
*.layout
word2vecCPP.mk
word2vecCPP.txt

# EMACS -------------------------------------------------------------------------

*~

# ------------------------------------------------------------------------------

dist
input
